
.church {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: center; */
    /* justify-content: flex-start; */
    justify-content: flex-end;
    border: 1px solid blue;
    border-radius: 5px;
}

.church2 {
    border: 1px solid red;
    border-radius: 5px;
    margin-top: 20px;
    height: 450px;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    align-items: center;
}

.member {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}